# Simple Expressions

In [ ]:
2 + 2

In [2]:
2 * 6

12

In [3]:
10 - 5

5

In [4]:
12 * 4 + 6 - 3

51

In [5]:
12 / 3

4.0

In [6]:
13 * (4 / 3) + 9

26.333333333333332

In [7]:
12 // 3

4

In [8]:
15 % 5

0

In [9]:
15 % 2

1

In [10]:
"Helloo" + "Helloo"

'HellooHelloo'

In [11]:
"Helloo" + "Python" + "3"

'HellooPython3'

In [12]:
"Hello" * 5

'HelloHelloHelloHelloHello'

In [13]:
# True = 1 and False = 0
True + True

2

In [14]:
True - True

0

In [15]:
True + False

1

In [16]:
False + False

0

In [17]:
True + False + False

1

In [18]:
True + False + True

2

# Logical Operations

In [19]:
6 > 5

True

In [20]:
7 < 4

False

In [21]:
6 == 8

False

In [22]:
7 == 7

True

In [23]:
"Douglas" == "Douglas"

True

In [24]:
"Douglas" == "douglas"

False

In [25]:
43 < 23 and 67 > 50

False

In [26]:
43 > 23 and 67 > 50

True

In [27]:
43 > 23 and "Douglas" == "douglas"

False

In [28]:
43 < 23 or 67 > 50

True

In [29]:
not 5 > 8

True

In [30]:
not 8 > 5

False

In [31]:
not False

True

In [32]:
not True

False

# Variables

In [33]:
15 + 30 + 20

65

In [34]:
apples = 15

In [35]:
bananas = 30

In [36]:
oranges = 20

In [37]:
total_fruits = apples + oranges + bananas
total_fruits

65

In [38]:
salary = 1000
expenses = 500

In [39]:
savings = salary - expenses
savings

500

In [40]:
length = 10.5
width = 20

In [41]:
area = length * width 
area

210.0

In [42]:
perimeter = 2 * (length + width)
perimeter

61.0

In [43]:
firstname = "Douglas"
lastname = "Obara"

In [44]:
fullname = firstname +" "+ lastname
fullname

'Douglas Obara'

In [45]:
salary

1000

In [46]:
salary = salary + 100
salary

1100

In [47]:
expenses

500

In [48]:
expenses = expenses / 2
expenses

250.0

In [49]:
savings = salary - expenses
savings

850.0

In [50]:
savings *= 1.2
savings

1020.0

In [51]:
weekdays = 7
weekends = 2

In [52]:
weekdays -= weekends
weekdays

5

In [53]:
pencils = 15
erasers = 7

In [54]:
writing_instruments = pencils + erasers
writing_instruments

22

In [55]:
writing_instruments += 2 
writing_instruments

24

In [56]:
string_1 = "Hellow"
string_2 = "Douglas"

In [57]:
string_1 += string_2
string_1

'HellowDouglas'

# Basic Types

In [58]:
int_var = 5
int_var

5

In [59]:
type(int_var)

int

In [60]:
float_var = 2.5
float_var

2.5

In [61]:
type(float_var)

float

In [62]:
string_var = "Helloo"
string_var

'Helloo'

In [63]:
type(string_var)

str

In [64]:
bool_var = True
bool_var

True

In [65]:
type(bool_var)

bool

In [66]:
str(int_var)

'5'

In [67]:
int(float_var)

2

# Strings

In [68]:
'Hi, my name is Douglas'

'Hi, my name is Douglas'

In [69]:
"Hi, my name is Douglas"

'Hi, my name is Douglas'

In [70]:
"""Hi, my name is Douglas"""

'Hi, my name is Douglas'

In [71]:
"I'm a student at kabarak"

"I'm a student at kabarak"

In [72]:
'He said "I am Douglas"'

'He said "I am Douglas"'

In [73]:
'I\'m Douglas'

"I'm Douglas"

In [74]:
"He said \"i am Douglas\""

'He said "i am Douglas"'

In [75]:
"""This is a suuuuuuuuuuper loooooooooooog
paragraphs"""

'This is a suuuuuuuuuuper loooooooooooog\nparagraphs'